@media screen and (min-width:0px) {
    header {
        width: 100%;
        height: 08vh;
        background-color: #fff;
        position: fixed;
        top: 0;
    }

    .nav-header {
        display: flex;
    }

    .nav-header svg {
        margin-right: 1rem;
        margin-block: 1rem;
    }

    .notification {
        margin-left: auto;
    }

    .navbar .logo p {
        display: block;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-size: 1.2rem !important;
        margin-left: 1rem;
        margin-top: 10px;
    }

    .logo svg {
        display: none;
    }

    .nav-text {
        display: none;
    }

    .nav-list {
        width: 100%;
        height: 05vh;
        background-color: #fff;
        position: fixed;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3.6rem;
    }

    .navbar a {
        display: block;
        color: var(--cor-primaria);
        font-family: var(--font-primaria);

    }

    .nav-list a:hover {
        transform: scale(1.1);
        transition: .2s ease-in-out;
    }

    .navbar svg {
        width: 19px;
    }

    .profile img {
        width: 22px;
        border-radius: 20px;
    }

    .nav-list li:nth-child(1) {
        order: 1;
    }

    .nav-list li:nth-child(2) {
        order: 2;
    }

    .nav-list li:nth-child(3) {
        order: 6;
        display: none;
    }

    .nav-list li:nth-child(4) {
        order: 4;
    }

    .nav-list li:nth-child(5) {
        order: 5;
        display: none;
    }

    .nav-list li:nth-child(6) {
        order: 6;
        display: none;
    }

    .nav-list li:nth-child(7) {
        order: 3;
    }

    .nav-list li:nth-child(8) {
        order: 8;
    }

    .config-list {
        visibility: hidden;
    }

    .nav-text1 {
        display: none;
    }


    /* ============== FIM MENU ==============*/

    .stories {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: .8rem;
        gap: 1rem;
        margin-top: 3.8rem;
        margin-bottom: 1.4rem;
    }

    .stories a {
        color: #030303;
    }

    .stories img {
        border: 2px solid #0ae419;
        border-radius: 50px;
        display: flex;
        width: 65px;
    }

    /* ============== FIM STORIES ==============*/

    .post {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        border: 0px solid #030303;
    }

    .post-header {
        display: flex;
        align-items: center;
        margin-bottom: .3rem;
        font-family: var(--font-primaria);
        font-size: .9rem;
        color: rgb(130, 130, 130);
        gap: 5px;
        margin-left: 1rem;
    }

    .post-header a {
        color: black;
        font-weight: 550;
    }

    .post img {
        width: 100%;
    }

    .post-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post-header img {
        width: 27px;
        border-radius: 20px;
        border: 2px solid #0ae419;
    }

    .post-verificado {
        width: 11px !important;
        height: 11px !important;
        border: none !important;
    }

    .post-footer {
        display: flex;
        gap: 1rem;
        margin-top: 10px;
        margin-inline: 1rem;
    }

    .post-footer svg {
        width: 22px;
        cursor: pointer;
    }

    .save {
        height: 22px;
        margin-left: auto;
    }

    .post-title {
        margin-block: 1rem;
        margin-left: 1rem;

    }

    .post-title a {
        font-family: var(--font-primaria);
        color: #030303;
        font-weight: 550;
    }

    .post-title span {
        margin-left: 5px;
    }

    .post-comments {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .post-comments input {
        width: 90%;
        border: none;
        margin-bottom: .8rem;
        font-size: 12px;
        margin-inline: 1rem;
    }

    .post-comments button {
        border: none;
        display: none;
    }

    .post-comments::after {
        display: block;
        content: "";
        background-color: #7e7e7e;
        height: 1px;
        width: 100%;
        margin-inline: 1rem;

    }

    /* ============== FIM POST ==============*/
}

@media screen and (min-width:390px) {
    .stories {
        margin-top: 4.7rem;
    }
}

@media screen and (min-width:768px) {
    .header {
        width: 08%;
        height: 100vh;
        justify-content: center;
        border: 1px solid #e1dada;
        display: flex;
    }

    .navbar {
        margin-top: 1.7rem;
        position: fixed;
        height: 100vh;
    }

    .navbar a {
        display: block;
        color: var(--cor-primaria);
        font-family: var(--font-primaria);
        text-align: center;
    }

    .navbar .nav-text {
        visibility: hidden;
        display: none;
        width: 120px;
        text-align: left;
        border-radius: 5px;
        padding: 5px;
        position: absolute;
    }

    .navbar svg {
        width: 19px;
    }

    .logo svg {
        display: block;
        margin: 0 auto;
    }

    .logo p {
        display: none !important;
    }

    .notification svg {
        display: none;
    }

    .direct svg {
        display: none;
    }

    .nav-list {
        margin-top: 17rem;
        flex-direction: column;
        gap: 0rem;
        position: relative;
    }

    .nav-list li {
        margin-block: 1.3rem;
    }

    .nav-list li:nth-child(1) {
        order: 1;
    }

    .nav-list li:nth-child(2) {
        order: 2;
    }

    .nav-list li:nth-child(3) {
        order: 3;
        display: block;
    }

    .nav-list li:nth-child(4) {
        order: 4;
    }

    .nav-list li:nth-child(5) {
        order: 5;
        display: block;
    }

    .nav-list li:nth-child(6) {
        order: 6;
        display: block;
    }

    .nav-list li:nth-child(7) {
        order: 7;
    }

    .nav-list li:nth-child(8) {
        order: 8;
    }

    .nav-div {
        display: flex;
        position: fixed;
        bottom: 55px;
        align-items: center;
    }

    .nav-div:hover {
        transform: scale(1.1);
        transition: .2s ease-in-out;
        cursor: pointer;
    }

    .btn-menu {
        display: block;
        width: 25px;
        height: 25px;
        border: none;
    }

    .bar {
        display: block;
        width: 16px;
        height: 2px;
        margin: 5px auto;
        background-color: rgb(58, 53, 53);
    }

    .config-list {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 150px;
        left: 60px;
        background-color: #fff;
        border-radius: 20px;
        gap: 1.3rem;
        font-size: 12px;
        padding: 1rem;
    }

    .config-list a {
        color: #030303;
        text-align: left;
        display: flex;
        gap: .7rem;
    }

    .config-list a:hover {
        transform: scale(1);
    }

    .config-list.active {
        visibility: visible;
    }

    .config-list svg {
        width: 13px;
    }

    /* ============== FIM MENU ==============*/

    .stories {
        font-size: .6rem;
        gap: .8rem;

    }

    .stories img {
        border-radius: 25px;
        width: 45px;
    }

    /* ============== FIM STORIES ==============*/
    .post {
        margin-inline: 220px;
    }


    /* ============== FIM POST ==============*/
}

@media screen and (min-width:1260px) {
    .header {
        width: 13%;
    }

    .navbar .nav-text {
        visibility: visible;
        display: block;
        margin-left: 1.7rem;
        font-size: .8rem;
    }

    .nav-text1 {
        display: block;
        font-size: .8rem;
        font-family: var(--font-primaria);
        margin-top: 1.4rem;
    }

    .navbar a {
        display: flex;
    }

    .nav-list {
        margin-top: 2rem;
    }

    .nav-list li {
        margin-block: 0 !important;
        margin-inline: .6rem;
        padding: .6rem;
    }

    .logo p {
        display: block !important;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-size: 1.2rem !important;
        margin-left: 1.1rem;
    }

    .logo svg {
        display: none;
    }

    /* ============== FIM MENU ==============*/
}